@use "./reset" as *;

$light-gray: #d5e1ef;
$grey: #7d889e;
$dark-navy: #1f314f;
$white: #fff;

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $light-gray;
	font-family: "Outfit", sans-serif;
}

.container {
	width: 320px;
	height: 497px;
	padding: 16px;
	background-color: $white;
	border-radius: 20px;
	box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
}

.code-image {
	border-radius: 10px;
}

.code-image {
	width: 100%;
}

.title {
	margin: 24px 0 16px;
	text-align: center;
	font-weight: bold;
	@include font-size(22px);
	color: $dark-navy;
}

.para {
	padding: 0 16px;
	margin-bottom: 40px;
	text-align: center;
	@include font-size(15px);
	color: $grey;
}
